apiVersion: apps/v1
kind: Deployment
metadata:
  name: circle-calculator
  namespace: circle-calc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: circle-calculator
  template:
    metadata:
      labels:
        app: circle-calculator
    spec:
      initContainers:
      - name: wait-for-mysql
        image: busybox:1.28
        command: ['sh', '-c', 'until nc -z mysql-service.circle-calc.svc.cluster.local 3306; do echo waiting for mysql; sleep 2; done']
      containers:
      - name: circle-calculator
        image: syadzaarrana/circle-calculator:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: db-secret
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
            